.surl-highlight {
    all: inherit;
    display: inline;
    margin: initial;
    padding: initial;
    color: black;
    font-weight: 800;
    position: relative;
}

.surl-highlight:hover>.surl-delete-button {
    /* display: block; */
    visibility: visible;
}

.surl-delete-button {
    padding: 4px 8px;
    background-color: red;
    color: white;
    border-radius: 2px;
    cursor: pointer;
    position: absolute;
    visibility: hidden;
    transition: visibility 0s;
    transition-delay: .25s;
    /* display: none; */
}

.surl-delete-button:hover {
    background-color: rgb(255, 115, 115);
}

.surl-copy-to-clipboard {
    display: block;
    z-index: 1000;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

#surl-copy {
    height: 100;
    width: 100%;
    /* visibility: hidden; */
    top: -100px;
    position: fixed;
}

#surl-d-container {
    position: fixed;
    width: 200px;
    /* height: 100%; */
    background: #232323;
    z-index: 1000;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    float: left;
    border-radius: 2px;
    color: white;
}

#surl-d-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #323232;
    color: white;
    cursor: move;
}

#surl-d-title {
    padding: 0 10px;
}

#surl-d-close {
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#surl-d-close:hover {
    cursor: pointer;
    background-color: white;
    color: rgb(80, 139, 248);
}

#surl-d-ol {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.surl-d-delete-icon {
    height: 20px;
    width: 20px;
    border-radius: 2px;
    background: red;
    color: white;
}

.surl-d-delete-icon:hover {
    opacity: .6;
}

.surl-d-li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    width: 100%;
}

.surl-d-li>span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 4px 8px;
    border-radius: 2px;
    margin-right: 10px;
    max-width: 70%;
}

.surl-d-li>span:hover {
    background-color: #323232;
}